<h1>Create a new pirate</h1>

<form method="post" action="/pirates">

<h2>Pirate Info</h2>

  <label for="name"> Pirate Name</label>
  <input type="text" id="name" name="pirate[name]">
  <label for="weight"> Pirate Weight</label>
  <input type="text" id="weight" name="pirate[weight]">
  <label for="height"> Pirate Height</label>
  <input type="text" id="height" name="pirate[height]">

<h2>Ship 1 Info</h2>

  <label for="name"> Ship Name</label>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <label for="type"> Ship Type</label>
  <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <label for="booty"> Ship Booty</label>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">

  <h2>Ship 2 Info</h2>

  <label for="name"> Ship Name</label>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  <label for="type"> Ship Type</label>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  <label for="booty"> Ship Booty</label>
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <input type="submit" value="Submit">
</form>
